{% extends "YoExistoContenidoBundle::layout.html.twig" %}

{% block contenido %}

	<div class="wrapper-dashboard">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<br /><br /><br /><br /><br />
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 espacio-a" id="mis-reportes">
					<div class="container-fluid fondo-gris">
						<div class="row fondo-naranja txt-mayusculas txt-blanco">
							<ul class="nav nav-bar col-md-5 lst-perfil">
								<li class="col-lg-5 col-md-5 col-sm-5 col-xs-5 interlineado-140">
									<img src="http://placehold.it/70x70" alt="" class="img-responsive img-centrar img-perfil" />
								</li>
								<li class="col-lg-7 col-md-7 col-sm-7 col-xs-7 text-left interlineado-140">
									<span class="">{{ app.user.username }}</span>
								</li>
							</ul>




                            {{ render(controller('YoExistoContenidoBundle:Default:getControles')) }}




						</div>
						<div class="row">
							<div class="col-md-12 espacio-a">
								{% block contenidointerno %}

									
								{% endblock %}
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 espacio-a" id="reporte-detalle">
					<div class="container-fluid fondo-gris">
						<div class="row">
							<div class="col-md-12">
								{% image '@YoExistoContenidoBundle/Resources/public/images/resumen.png' %}
								<img src="{{ asset_url }}" title="" alt="" class="img-contenido img-centrar" />
								{% endimage %}
								<h4 class="txt-mayusculas txt-naranja">
									Título del control<br/>
								</h4>
								<span>Publicado por:</span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 txt-mayusculas">
								<p>
									<strong>Municipio: </strong>Lorep ipsum
								</p>
								<p>
									<strong>Área: </strong>Lorep ipsum
								</p>
								<p>
									<strong>Dirección: </strong>Lorep ipsum
								</p>
								<p>
									<strong>Nombre institución: </strong>Lorep ipsum
								</p>
								<p>
									<strong>Descripción Control: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sagittis urna sed tellus semper ultricies. Donec ultricies quis urna eu commodo.
								</p>
								<p>
									<strong>Imagen: </strong><img src="http://placehold.it/150x150" alt="" class="img-responsive" />
								</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 text-center">
								<h5>Actualmente tiene <strong>18</strong> Votos</h5>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 text-center">
								<button class="btn btn-lg btn-home btn-tipo-a">
									Votar por control
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 espacio-a" id="reportes-recientes">
					<div class="container-fluid fondo-gris">
						<div class="row fondo-naranja txt-mayusculas txt-blanco">
							<div class="col-md-12 espacio-a">
								<span class="txt-mayusculas">
									Controles generados recientemente
								</span>
							</div>
						</div>






                        {{ render(controller('YoExistoContenidoBundle:Default:getActividadReciente')) }}





					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}