{% extends "YoExistoContenidoBundle:Templates:dashboard.html.twig" %}

{% block menu %}
	{% include 'YoExistoContenidoBundle:Blocks:menu-user.html.twig' %}
{% endblock %}

{% block contenidointerno %}
	<div class="container-fluid">
		
		<div class="row espacio-a">
			<div class="col-md-12 espacio-a">
				<h3 class="txt-mayusculas">Generar Control</h3>
				<span>Llene los datos a continuación para generar control</span>
			</div>
		</div>
		<div class="row espacio-a">
			<div class="col-md-4 text-center">
				<h1 class="txt-mayusculas espacio-a">¿Dónde?</h1>
				<span class="espacio-a">Cuéntanos que quieres controlar</span>
				{% image '@YoExistoContenidoBundle/Resources/public/images/donde.png' %}
				<img src="{{ asset_url }}" title="" alt="" class="img-responsive img-centrar" />
				{% endimage %}
			</div>
			<div class="col-md-8 txt-mayusculas">
				<select class="form-control espacio-a">
					<option>Municipio</option>
					<option>Municipio 1</option>
					<option>Municipio 2</option>
					<option>Municipio 3</option>
					<option>Municipio 4</option>
				</select>
				<select class="form-control espacio-a">
					<option>Area</option>
					<option>Area 1</option>
					<option>Area 2</option>
					<option>Area 3</option>
					<option>Area 4</option>
				</select>
				<span>Escribe la dirección o geolocaliza tu ubicación</span>
				<div class="form-group">
					<input type="text" placeholder="Dirección" id="geotexto">
					<button class="btn btn-tipo-a btn-geo">Geolocalizar</button>
				</div>
				<div id="geomapa" class="geomapa">
					
				</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Nombre de la institución (de ser necesario)">
				</div>
			</div>
		</div>
		<div class="row espacio-a">
			<div class="col-md-4 col-md-offset-4 txt-mayusculas">
				<div class="form-group">
					<button class="btn btn-lg btn-home btn-tipo-a">Siguiente</button>
				</div>
			</div>
		</div>
	</div>

{% endblock %}