{% extends "YoExistoContenidoBundle:Templates:dashboard.html.twig" %}
{% block contenidointerno %}
	<div class="container-fluid">
		
		<div class="row espacio-a">
			<div class="col-md-12 espacio-a">
				<h3 class="txt-mayusculas">Generar Control</h3>
				<span>Llene los datos a continuación para generar control</span>
			</div>
		</div>
		<div class="row espacio-a">
			<div class="col-md-4 text-center">
				<h1 class="txt-mayusculas espacio-a">Qué está pasando?</h1>
				<span class="espacio-a">Describe de que se trata este control en máximo 300 caracteres y una foto.</span>
				{% image '@YoExistoContenidoBundle/Resources/public/images/que.png' %}
				<img src="{{ asset_url }}" title="" alt="" class="img-responsive img-centrar" />
				{% endimage %}
			</div>
			<div class="col-md-8 txt-mayusculas">
				<div class="form-group espacio-a">
					<input type="text" class="form-control" placeholder="Ingresa un titulo para el controls">
				</div>
				<div class="form-group espacio-a">
					<textarea rows="5" class="form-control" placeholder="Cuéntanos lo que está pasando"></textarea>
				</div>
				<div class="form-group espacio-a">
					<input type="file" placeholder="Suba una foto" />
				</div>
			</div>
		</div>
		<div class="row espacio-a">
			<div class="col-md-4 col-md-offset-2 txt-mayusculas">
				<button class="btn btn-lg btn-home btn-tipo-a">Atrás</button>
			</div>
			<div class="col-md-4 txt-mayusculas">
				<button class="btn btn-lg btn-home btn-tipo-a">Siguiente</button>
			</div>
		</div>
	</div>

{% endblock %}