{% extends "YoExistoContenidoBundle:Templates:dashboard.html.twig" %}

{% block menu %}
	{% include 'YoExistoContenidoBundle:Blocks:menu-user.html.twig' %}
{% endblock %}


{% block contenidointerno %}
	<div class="container-fluid">
		<div class="row espacio-a">
			<div class="col-md-4 txt-mayusculas">
				<a href="{{ path('yoexisto_donde') }}" class="btn btn-home btn-tipo-a">Generar Control</a>
			</div>
		</div>

		<span class="texto-naranja txt-mayusculas">Actividad Reciente</span>
		{% block misreportesrecientes %}
			{% include 'YoExistoContenidoBundle:Blocks:reporte.html.twig' %}
			{% include 'YoExistoContenidoBundle:Blocks:reporte.html.twig' %}
			{% include 'YoExistoContenidoBundle:Blocks:reporte.html.twig' %}
			{% include 'YoExistoContenidoBundle:Blocks:reporte.html.twig' %}
		{% endblock %}	
	</div>

{% endblock %}