<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="UTF-8">
		<title>{% block title %}YoExistoAPP{% endblock %}</title>

		<meta name="description" content="Aplicación de YoExisto">
		
		{# {% image '@YoExistoContenidoBundle/Resources/public/img/favicon.png' %}
			<link href="{{ asset_url }}" rel="icon">
        {% endimage %}  #}

		{%  block css %}
			{% include 'YoExistoContenidoBundle:Templates:css.html.twig' %}
		{%  endblock %}
	</head>
	<body>
		{% block menu %}
			{% include 'YoExistoContenidoBundle:Blocks:menu.html.twig' %}
		{% endblock %}


		{%  block contenido %}
			
		{%  endblock %}
		
		{%  block js %}
			{% include 'YoExistoContenidoBundle:Templates:js.html.twig' %}
		{%  endblock %}
	</body>
</html>