html, body{
	position: relative;
	width: 100%;
	height: 100%;
	/*
	font-family: 'Montserrat', sans-serif;
	font-family: 'Dosis', sans-serif;
	*/
	font-family: 'Dosis', sans-serif;
}

.v-center-contenedor{
	display: table;
	height: 100%;
	width: 100%;
	position: relative;
}
.v-center-contenido-v{
	display: table-cell;
	vertical-align: middle;
}
.v-bottom-contenido{
	display: table-cell;
	vertical-align: bottom;
}
.v-center-contenido-h{
	text-align: center;
}

.alto-completo{
	height: 100%;
	position: relative;
}

.inner-addon, .left-inner-addon, .right-inner-addon {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}

.left-inner-addon input {
    padding-left: 40px;
}
.left-inner-addon i {
	left: 1px;
	top: 1px;
	padding: 16px;
	pointer-events: none;
	position: absolute;
}

.right-inner-addon input {
    padding-right: 40px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

.texto-naranja{
	color: #f35b00;
}
.texto-gris{
	color: #575757;
}
.espacio-a{
	margin-top: 10px;
	margin-bottom: 10px;
}

.linea-gris{
	border-top: 2px solid #bebebe;
}

.form-home i.icono{
	background-repeat: no-repeat;
	background-image: url('../../../bundles/yoexistocontenido/images/yoexisto-sprite1.png');
	background-color: #F2F1ED; /*transparent*/
}
	.form-home i.icono-usuario{
		background-position: -81px -84px;
	}
	.form-home i.icono-password{
		background-position: -281px -84px;
	}
	.form-home i.icono-email{
		background-position: -482px -84px;
	}
	.form-home i.icono-cedula{
		background-position: -682px -84px;
	}

.input-home{
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	background-color: #F2F1ED; /*transparent*/
	border-radius: 0px;
	border-color: #959593;
}
.input-home:focus{
	border-color: #f35b00;
	/*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(243, 91, 0, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(243, 91, 0, .6);*/
	box-shadow: none;
}

.input-yeapp{
	text-transform: uppercase;
}
.input-yeapp:focus{
	border-color: #f35b00;
	/*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(243, 91, 0, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(243, 91, 0, .6);*/
	box-shadow: none;
}

.fondo-cover{
	position: relative;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.wrapper-home{
	width: 100%;
	height: 100%;
	background-image: url('../../../bundles/yoexistocontenido/images/bg_fotoiniciosesion.jpg');
}

.wrapper-registro{
	width: 100%;
	height: 100%;
	background-image: url('../../../bundles/yoexistocontenido/images/bg_fotoregistro.jpg');	
}

.wrapper-dashboard{
	position: relative;
	width: 100%;
	min-height: 100%;
	height: auto;
	background-color: #f5e8e1;	
}

.fondo-blanco{
	background-color: #ffffff;
}

.titular-home{
	text-transform: uppercase;
	font-weight: 500;
}

.lbl-home{
	text-transform: uppercase;
	font-weight: 500;	
}

.btn-home{
	border-radius: 0px;
	border-width: 1px;
	border-style: solid;
	text-transform: uppercase;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}
.btn-tipo-a{
	background-color: #f35b00;
	border-color: #f35b00;
	color: #ffffff;
}
	.btn-tipo-a:hover, .btn-tipo-a:focus, .btn-tipo-a:active{
		background-color: #b33700;
		border-color: #f35b00;
		color: #FFFFFF;
	}

.btn-tipo-b{
	background-color: #F2F1ED;
	border-color: #f35b00;
	color: #f35b00;
}
	.btn-tipo-b:hover, .btn-tipo-b:focus, .btn-tipo-b:active{
		background-color: #f35b00;
		border-color: #f35b00;
		color: #ffffff;
	}

.input-home-file{

}
.link-home{
	color: #575757;
	text-transform: uppercase;
}

.icono-grande{
	position: relative;
	background-repeat: no-repeat;
	background-color: #575757; /*transparent*/
	width: 60px;
	height: 60px;
	margin: 0 auto;
}
	.icono-grande-ok{
		background-position: 10px 10px;
	}

.navbar-yoexisto.navbar-fixed-bottom{
	border-top: #f35b00 2px solid;
}
.navbar-yoexisto.navbar-fixed-top{
	border-bottom: #f35b00 2px solid;
}

#nav-yoexisto ul.navbar-nav li{
	
}

#nav-yoexisto ul.navbar-nav li a{
	color: #575757;
	text-transform: uppercase;
	margin-left: 15px;
	margin-right: 15px;
}

#nav-yoexisto ul.navbar-nav li.active{
	/*falta arte de triangulo invertido*/
}

#nav-yoexisto ul.navbar-nav li.active a{
	color: #f35b00;
	background-image: none;
	box-shadow: none;
	background-color: transparent;
}

.fondo-naranja{
	background-color: #f35b00;
}

.fondo-gris{
	background-color: #FAFAFA;
}

.img-centrar{
	clear: both;
	text-align: center;
	margin: 0 auto;
}

.lst-perfil{
	margin-top: 20px;
	margin-bottom: 20px;
}

.lst-perfil.nav > li > a:hover,
.lst-perfil > li > a:focus{
	background-color: transparent;
	background-image: none;
	border-radius: 0px;
	border: 1px solid #FFFFFF;
}

.txt-mayusculas{
	text-transform: uppercase;
}
.txt-blanco, .txt-blanco *{
	color: #ffffff;
}
.img-perfil{
	border-radius: 6px;
	border: 2px solid #ffa200;
	display: inline-block;
}

.interlineado-140{
	line-height: 140px;
	height: 140px;
}
.txt-negrita{
	font-weight: 500;
}
.txt-naranja{
	color: #f35b00;
}

.geomapa{
	position: relative;
	width: 100%;
	height: 150px;
	border: 1px solid #f35b00;
}

.cont-error{
	border: 1px solid #FF0000;
	margin-top: 10px;
	text-align: center;
	text-transform: uppercase;
}

.msj-error{
	color: #FF0000;
}

.icono-cont{
	margin-right: 5px;
}

.img-contenido{
	width: 60px;
	float: left;
	padding: 5px;
	margin: 5px;
}

i.icono-reporte{
	background-repeat: no-repeat;
	background-image: url('../../../bundles/yoexistocontenido/images/yoexisto-sprite1.png');
	position: relative;
	padding: 2px 14px;
}

	i.icono-reporte.rp-publicado{
		background-position: -286px -492px;
	}
	i.icono-reporte.rp-ver{
		background-position: -86px -492px;
	}
	i.icono-reporte.rp-voto{
		background-position: -487px -291px;
	}

.fuente-menor *{
	font-size: 12px;
}

.row-reporte:hover,
.row-reporte:active,
.row-reporte:focus{
	/*cursor: pointer;*/
	background-color: #FFFFFF;
}

.btn-transparente{
	background-image: none;
	background-color: transparent;
	border-radius: 0px;
}

.img-reporte-reciente{
	height: 60px;
	margin: 0 auto;
}

.contenedor-img-reciente{
	width: 100%;
	height: 150px;
	overflow: hidden;
}

.link-yep{
	display: inline-block;
}

.icono-cerrar{
	position: relative;
	background-repeat: no-repeat;
	background-image: url('../../../bundles/yoexistocontenido/images/yoexisto-sprite1.png');
	background-position: -288px -290px;
	width: 22px;
	height: 22px;
}

#reporte-detalle{
	display: none;
}

.yea-borde{
	border-radius: 0px;
}

.btn-geo{
	border-radius: 0px;
	/*width: 100%;*/
}

.img-icono-grande{
	padding: 30px;
}
.texto-geo{
	position: relative;
	top: -5px;
}

.icono-yeapp{
	background-repeat: no-repeat;
	background-image: url('../../../bundles/yoexistocontenido/images/yoexisto-sprite1.png');
	/*background-color: red; */
	width: 24px;
	height: 24px;
	position: relative;
	display: inline-block;
}

.form-group-sm{
	margin-top: 15px;
	margin-bottom: 15px;
}

.form-group-sm .sm-img-foto{
	display: none;
}

.form-group-sm .custom-input-file{
	overflow: hidden;
	position: relative;
	cursor: pointer;
	background-image: url('../../../bundles/yoexistocontenido/images/yoexisto-sprite1.png');
	background-repeat: no-repeat;
	/*background-position: -80px -285px;*/
	background-position: -23px -285px;
	color: #000;
	font-size: 12pt;
	/*width: 40px;*/
	width: 170px;
	min-height: 33px;
	z-index: 10;
	margin: 0 auto;
}

.form-group-sm .custom-input-file .input-file{
	opacity: 0;
	margin: 0;
	padding: 0;
	outline: 0;
	font-size: 10000px;
	border: 10000px solid transparent;
	filter: alpha(opacity=0);
	position: absolute;
	right: -1000px;
	top: -1000px;
	cursor: pointer;
}

.icono-yeapp.ico-geo{
	background-position: -688px -490px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
   text-transform: uppercase;
}

/* Firefox 18- */
input:-moz-placeholder,
textarea:-moz-placeholder {
   text-transform: uppercase;
}

/* Firefox 19+ */
input::-moz-placeholder,
textarea::-moz-placeholder {
   text-transform: uppercase;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
   text-transform: uppercase;
}

.reportes-recientes-cont{
	max-height: 442px;
	overflow-y: auto;
}

.fondo-naranjabajo{
	background-color: #FECA98;
}

