
{% for control in controles %}


    <div class="row row-reporte row-reporte-reciente">
        <div class="col-md-12">
            <strong class="txt-mayusculas">{{ control.que.titulo }}</strong>
            <p>
                {{ control.que.descripcion }}
            </p>
            
            <div class="contenedor-img-reciente espacio-a">
                <img src="{{ asset('uploads/' ~ control.que.archivo ) }}" class="img-responsive obj-centar" alt="">
            </div>

            <span class="icono-cont">
                <i class="icono-reporte rp-publicado"></i>Publicado por <a href="">{{ control.usuario }}</a>
            </span>
                |
            <span class="icono-cont">
                <i class="icono-reporte rp-ver"></i><a href="#">Ver más</a>
            </span>
            <hr class="linea-gris" />
        </div>

    </div>


{% endfor %}