<div class="col-md-3 espacio-a" id="reporte-detalle">
	<div class="container-fluid fondo-gris">
		<div class="row">
			<div class="col-md-12">
				{% image '@YoExistoContenidoBundle/Resources/public/images/resumen.png' %}
				<img src="{{ asset_url }}" title="" alt="" class="img-contenido img-centrar" />
				{% endimage %}
				<h4 class="txt-mayusculas txt-naranja">
					Título del control<br/>
				</h4>
				<span>Publicado por:</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 txt-mayusculas">
				<p>
					<strong>Municipio: </strong>Lorep ipsum
				</p>
				<p>
					<strong>Área: </strong>Lorep ipsum
				</p>
				<p>
					<strong>Dirección: </strong>Lorep ipsum
				</p>
				<p>
					<strong>Nombre institución: </strong>Lorep ipsum
				</p>
				<p>
					<strong>Descripción Control: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sagittis urna sed tellus semper ultricies. Donec ultricies quis urna eu commodo.
				</p>
				<p>
					<strong>Imagen: </strong><img src="http://placehold.it/150x150" alt="" class="img-responsive" />
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<h5>Actualmente tiene <strong>18</strong> Votos</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<button class="btn btn-lg btn-home btn-tipo-a">
					Votar por control
				</button>
			</div>
		</div>
	</div>
</div>