<div class="row row-reporte">
	<div class="col-md-12 espacio-a">
		<strong class="txt-mayusculas">{{ control.que.titulo }}</strong>
		<p>
            {{ control.que.descripcion }}
		</p>
		<span class="icono-cont">
			<i class="icono-reporte rp-publicado"></i>Publicado por <a href="">{{ control.usuario }}</a>
		</span>
		|
		<span class="icono-cont">
			<i class="icono-reporte rp-ver"></i><a href="#">Ver más</a>
		</span>
		|
		<span class="icono-cont">
			<i class="icono-reporte rp-voto"></i> {{ control.positivos }} votos
		</span>
		<hr class="linea-gris" />
	</div>
</div>