<div class="row row-reporte row-reporte-reciente">
	<div class="col-md-12 espacio-a fuente-menor">
		<strong class="txt-mayusculas">Lorep ipsum</strong>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sagittis urna sed tellus semper ultricies. Donec ultricies quis urna eu commodo.
		</p>
		<span class="icono-cont">
			<i class="icono-reporte rp-publicado"></i>Publicado por <a href="">Lorep Ipsum</a>
		</span>
		|
		<span class="icono-cont">
			<i class="icono-reporte rp-ver"></i><a href="#">Ver más</a>
		</span>
		<hr class="linea-gris" />
	</div>
</div>